*{font-family: Tahoma, Verdana, Arial, poppins; margin:0; padding:0; scroll-behavior:smooth; box-sizeing: border-box; scroll-padding-top: 20px;text-transformer: uppercase;}
.poster { height: 100px; width: 600px;}
li{ color: white;}
.navi{ padding: 8px ; background-color: #1076C2; color: #FFFFFF; }
.logo{background-color: #308bcf; color: #ffffff; background-image: url(); font-weight: bold; padding: 10px 10px 10px 10px; text-align: center; text-decoration: none; font-size: small;}
.post{ margin:10px;}
